.animateBounce {
  animation: bounce 0.5s infinite;
}

.ball1 {
  animation-delay: 0s;
}

.ball2 {
  animation-delay: 0.1s;
}

.ball3 {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.linearLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.linearLoaderBar {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 2px; /* Very thin line */
  background-color: #ddd;
  overflow: hidden;
}

.linearLoaderFill {
  position: absolute;
  height: 100%;
  width: 30%; /* Width of the moving black bar */
  background-color: black;
  animation: slide 1.5s ease-in-out infinite;
}

@keyframes slide {
  0% {
    left: -30%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -30%;
  }
}
